/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2014, 12:43:29 PM
    Author     : mochieng
*/
html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.webcmd{

}

.webcmd *{
    font-size: 14px;
    color: #aaa;
}

.ui-terminal{
    background: #000;
    color: #fff;
    height: 800px;
}

.wc-terminal {
    background: #000;
    height: 400px;
    width: 100%;
}

.ui-terminal-input{
    padding-left: 4px;
}

.ui-terminal .ui-terminal-prompt .wc-host,
.ui-terminal .ui-terminal-content span:first-child .wc-host
{
    color: #8CA6A2;
}
.ui-terminal .ui-terminal-prompt .wc-user,
.ui-terminal .ui-terminal-content span:first-child .wc-user
{
    color: #339988;
}