.ws-async-terminal-clear{
    clear: both;
}
.wc-ssh-terminal{
    width: 99%;
    height: auto;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px 0.5%;
    height: 800px;
    overflow-y: auto;
}

.wc-ssh-terminal p.wc-ssh-terminal-data{
    padding-left: 20px;
}
.wc-ssh-terminal .wc-ssh-terminal-ctx{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.wc-ssh-terminal-line{
    width: 100%;
}
.wc-ssh-terminal .wc-ssh-terminal-prompt{
    float: left;
}
.wc-ssh-terminal .wc-ssh-terminal-prompt-user{
    color: #339988;
}
.wc-ssh-terminal .wc-ssh-terminal-prompt-host{
    color: #55cc88;
}
.wc-ssh-terminal .wc-ssh-terminal-prompt-dir{
    color: #779988;
}
.wc-ssh-terminal .wc-ssh-terminal-view{
    float: left;
    margin-left: 5px;
}

.wc-ssh-terminal .wc-ssh-terminal-prompt{
    height: 22px;
    margin-top: 3px;
}
.wc-ssh-terminal .wc-ssh-terminal-view input{
    border: 0px none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    width: 100%;
    background: #000;
    color: #fff;
}
.wc-ssh-terminal .wc-ssh-terminal-view input:focus{
    outline: #666;
}

.wc-ssh-terminal-welcome{
    display: none;
    background: transparent;
}

.wc-ssh-left{
    width: 80%;
    float: left;
}

.wc-ssh-right{
    width: 18%;
    margin-left: 1.5%;
    float: left;
}